data/
server/**
code/
.idea/
.env
.docker-sync
.DS_Store
.dropbox_uploader
.bash_history
assets/ssh/
venv/
*/venv/
*.env

## // ai-gen start (ChatGPT-4o, 1)
!server/quests/**
## // ai-gen end
#
## All quest files CAN be added, but are default-ignored.
##  To track a changed NPC.pl file, you don't have to do 
##  anything here.
##  Instead, to begin tracking an NPC file you intend to change,
##  on the command line: run `git add -f server/quest/zoneABC/npcBob.pl`
##  This stages the file (the next thing you'd do is commit).
## Furthermore, you'll want to make sure that you've deleted
##  the server/quests/.git directory
##  `rm -rf server/quests/.git`

