data/
server/**
code/
.idea/
.env
.docker-sync
.DS_Store
.dropbox_uploader
.bash_history
assets/ssh/

## Eulogy-quest server/quests/<zone>/<NPC>.pl whitelist
##   All NPCs whose behavior is soon to be edited, 
##   add them to this whitelist first!

# Un-ignore the quests/ directory (but not its contents yet)
# ((git issue #6))
#
## // ai-gen start (ChatGPT-4o, 1)
!server/quests/**
## // ai-gen end

# Explicitly track only these specific files:
#
## // ai-gen start (ChatGPT-4o, 0)
#!server/quests/tutorialb/Vahlara.pl    
## // ai-gen end
#
# (Eulogy-quest team, add your NPCs to the whitelist below)
# (no need to copy the ai-gen part if you're instead copying me)
# <whitelist>:
# !server/quests/<zone>/<your_NPC>.pl
